* {
    font-family: GothamRounded,Arial,sans-serif;

}

#login {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 200px;
    height: 20px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
#login a {
padding: 10px;
}

body {
    background-color: #F8FBFF;
}

button {
    padding: 3px;
    background: linear-gradient(166.64deg, rgb(59, 210, 247) 0.63%, rgb(2, 126, 179) 99.21%);
    color: white;
    border-radius: .3rem;
    width: 175px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
}