<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Item for wish</title>
</head>
<body>
<form method="post" th:action="@{/addwishitem}">
    <input name="wishlist_id" type="hidden" th:value="${wishlist_id}">
    <div class="mb-3">
        <label for="item_name" class="form-label">Item Name</label>
        <input type="text" class="form-control" id="item_name" name="item_name" required>
    </div>
    <div class="mb-3">
        <label for="website" class="form-label">Website</label>
        <input type="text" class="form-control" id="website" name="website" required>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Item</button>
</form>

</body>
</html>