<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Wishlist</title>
    <link rel="icon" href="sky.svg" type="image/icon type">
    <!-- bruger th:href med @ for at få fat til stylesheet
    i gennem thymeleaf link i stedet for manuelt i mappen, da det kan
     give problemer at linke direkte til mappen når man lave postmappings og-->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>
<div>
<a href="#">
<img src="logo.png">
</a>
</div>
<div id="login">


    <a href="#">
        <button>Log in</button>
    </a>

    <a href="#">
    <button>Sign Up</button>
    </a>
</div>
<!--<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.user_name}"></td>
    </tr>
    </tbody>
</table>-->
</body>
</html>