<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Wishlist</title>
    <link href="sky.svg" rel="icon" type="image/icon type">
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
</head>
<body>
<div id="logo-div">
    <a href="/">
        <img alt="logo" id="logo-img" src="logo.png">
    </a>
</div>
<br><br><br><br><br><br>
<div id="content">
    <br>
    <h1>Login</h1>
    <br>
    <form method="post" th:action="@{/login}">
        <p><input name="user_name" placeholder="Username" required type="text"/></p>
        <br>
        <p><input name="user_password" placeholder="Password" required type="password"/></p>
        <br>
        <input class="submit-button" type="submit" value="Submit">
    </form>

    <p th:if="${error}" th:text="${error}"></p>
    <br>
</div>
</body>
</html>


