<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Wishlist</title>
    <link href="sky.svg" rel="icon" type="image/icon type">
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
</head>
<body>
<div id="logo-div">
    <a href="/">
        <img alt="logo" id="logo-img" src="logo.png">
    </a>
    <a style="float: right; margin-top: 20px; margin-right: 40px">
    <form method="post" th:action="@{/goBackToUser}">
        <span><input name="wishListId" th:value="${wishListId}" type="hidden"></span>
        <input class="submit-button" type="submit" value="Go Back">
    </form>
    </a>
</div>

<div>
<h3>Add Wish:</h3>
<form style="margin-top: 70px; margin-left: 10px" method="post" th:action="@{/addwishtowishlist}">
    <span><input name="wishlist_id" th:value="${wishListId}" type="hidden"></span>
    <label for="wishitem">Choose item from list:</label>
    <select id="wishitem" name="item_id">
        <option th:each="item : ${items}"
                th:value="${item.item_id}"
                th:text="${item.item_name}"></option>
    </select>
    <input class="submit-button" type="submit" value="Submit">
</form>
<br><span style="margin-left: 10px">Or add new item</span><br>
<form style="margin-left: 10px" method="post" th:action="@{/addNewItem}">
    <span><input name="wishlist_id" th:value="${wishListId}" type="hidden"></span>
    <span><input name="item_name" placeholder="Item name" type="text"></span>
    <span><input name="item_price" placeholder="Item price" type="number"></span>
    <input class="submit-button" type="submit" value="Submit">
</form>
</div>

<div id="content">
<h2 style="font-weight: bolder; text-decoration: underline;">Wishlist</h2>
    <br>
<table id="wishlist-table">
    <tr>
        <th>Item Name</th>
        <th>Item Price</th>
    </tr>
    <tr th:each="wishItem : ${wishItem}">
        <td th:text="${wishItem.item_name}"></td>
        <td th:text="${wishItem.item_price}"></td>
    </tr>
</table>
</div>
</body>
</html>