<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Wishlist</title>
    <link href="sky.svg" rel="icon" type="image/icon type">
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
</head>
<body>
<div id="logo-div">
    <a href="/">
        <img alt="logo" id="logo-img" src="logo.png">
    </a></div>
<br><br><br><br><br><br>
<div id="content">
    <br>
    <h1 style="font-size: 20px; font-weight: bolder;">Making new Wishlist</h1>
    <br>
    <form method="post" th:action="@{/createWishList}">
        <p><input name="user_id" th:value="${user.user_id}" type="hidden"/></p>
        <br>
        <p><input name="wishlist_name" type="text" placeholder="Wishlist Name"></p>
        <br>
        <input class="submit-button" type="submit" value="Submit">
        <br> <br>
    </form>

    <table>
        <thead>
            <tr>
                <th>Wish List Name</th>
                <th>Actions</th>
                <th> </th>
            </tr>
        </thead>
            <tbody>
                <tr th:each="wishlist : ${wishlists}">
                    <td th:text="${wishlist.wishList_name}"></td>


                    <td>
                        <form method="post" th:action="@{/openwishlist}">
                            <input name="wishlist_id" th:value="${wishlist.wishList_id}">
                            <input type="submit" value="Open">
                        </form>
                    </td>

                    <td>
                        <input type="text" th:value="'http://20.85.239.54:8080/wishlist/' + ${wishlist.wishList_id}" readonly>
                    </td>

                </tr>
            </tbody>
    </table>

</div>
</body>
</html>


